<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/base16/solarized-dark.min.css">
    <title>{{title}}</title>
</head>
<body>
    <div class="articleContainter">
        <div class="article">
            <div class="articleHeader">
                <h1>{{title}}</h1>
                <h2>{{description}}</h2>
                <p class="articleDate">{{dateFormat date}}</p>
            </div>
            <div class="articleBody">
                {{{article}}}
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
</body>
</html>